{% extends 'base.html' %} 
{% load static %}
{% block content %}
 

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">login</h5>
   {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    <form action="{% url 'users:login_page' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" required/>
        <input type="password" name="password" placeholder="password" required/>
        <button type="submit">login</button>
    </form>
    <div>Don't have an account? <a href="{% url 'users:register_page' %}">register</a></div>


  </div>
</div>



{% endblock %}

