<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>register</h1>
    {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    <form action="{% url 'users:register_page' %}" method="post">
        {{% csrf_token %}
        <input type="text" name="username" placeholder="username" required/>
        <input type="email" name="email" placeholder="email" required/>
        <input type="password" name="password" placeholder="password" required/>
        <input type="password" name="retype_password" placeholder="retype username" required/>
        <button type="submit">register</button>
    </form>
    <div>Already have an account> <a href="{% url 'users:login_page' %}">login</a></div>
</body>

</html>