{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card text-center">
  <div class="card-header">
   Hey {{user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">
      You can add your business to Garvey's List 
    </p>
    <a href="{%url 'main:add' %}" class="btn btn-primary">Add A new business</a>
  </div>
  <div class="card-footer text-muted">
  <a href="{%url 'users:logout_user' %}">logout</a>
    
  </div>
</div>


 

{% endblock %}
