
{% extends 'base.html' %} 
{% load static %}
{% block content %}
    

        <h1>{{title}}</h1>

        <h1>Welcome Home</h1>
        <h3>{{user.username}}</h3>

        <a href="{%url 'users:logout_user' %}">logout</a>
        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What are you looking for?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for type in businesstypes %}
                <a class="business-type-link" href="{%url 'main:detail' type.id %}">{{type.name}}</a> {% endfor %}


            </div>

        </div>


{% endblock %}