{% extends 'base.html' %}
{% block content %}

    {{message}}
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
            <div class="col-8">
                <h1 class="">Add Your Business</h1>
                <a href="{% url 'users:user' %}"></a>
                <form action="{% url 'main:add' %}" method="post">
                    {% csrf_token %}
                    {% for field in form%}
                    {{field.label}}
                    {{field}}
                    <br>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save Business</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}