{% extends 'base.html' %}
{% block content %}
{{businesses}}
<a href="{% url 'main:index' %}" class="btn btn-primary">back</a>
{% for business in businesses %}
<div>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{business.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{business.state}} {{business.city}} {{business.street}}
            {{business.phone_number}}</h6>
        <p class="card-text">{{business.comments}}</p>
        <a href="https://www.{{business.website}}" class="card-link">{{business.website}}</a>

    </div>
</div>
{% endfor %}


{% endblock %}
